{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Contact</title>
    
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'portfolio/css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <!-- START: header -->
  
  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="{% url 'home' %}" class="probootstrap-logo">Аня Зиманова</a>
        
        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li class="active"><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
          <div class="extra-text visible-xs"> 
            <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>

            <h5>Connect</h5>
            <ul class="social-buttons">

              <li><a href="https://vk.com/once_somebody_somewhere"><img src="{% static 'portfolio/img/vk_dark.png' %}" height="31" style="background-color:white"></a></li>
              <li><a href="https://www.instagram.com/anna_live_gallery/"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </nav>
    </div>
  </header>
  <!-- END: header -->

  <section class="probootstrap-section">
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 mb80 text-center probootstrap-animate">
          <h2>Отправить заявку на фотосъемку</h2>
          <p>Или если остались какие-то вопросы, свяжитесь со мной</p>
        </div>
      </div>
      <div class="row">
        <div class="col-md-8 probootstrap-animate">
          <form method="post" class="probootstrap-form mb60">
              {% csrf_token %}

            <div class="row">
              <div class="col-md-6">
                <div class="form-group">
                  <label for="fname">Имя</label>
                  <!--<input type="text" class="form-control" id="fname" name="fname">-->
                    {{ form.first_name }}
                </div>
              </div>
              <div class="col-md-6">

              </div>
            </div>
            <div class="form-group">
              <label for="email">Адрес эл. почты</label>
              <!--<input type="email" class="form-control" id="email" name="email">-->
                {{ form.from_email }}
            </div>
            <div class="form-group">
              <label for="message">Сообщение</label>
              <!--<textarea cols="30" rows="10" class="form-control" id="message" name="message"></textarea>-->
                {{ form.message }}
            </div>
            <div class="form-group">
              <input type="submit" class="btn btn-primary" id="submit" name="submit" value="Отправить">
            </div>
          </form>
        </div>
        <div class="col-md-3 col-md-push-1 probootstrap-animate">
          <h4>Контакты</h4>
          <ul class="with-icon colored">
            <li><i class="icon-location2"></i> <span>Москва, Россия</span></li>
            <li><i class="icon-mail"></i><span>anyazimanova@rambler.ru</span></li>

          </ul>
        </div>
      </div>
    </div>
  </section>  
  <div class="container probootstrap-animate">
  </div>
  <!-- END section -->

  <footer class="probootstrap-footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="probootstrap-copyright">Made by <a href="https://gitlab.com/kupreeva">kupreeva</a></p>
          <ul class="probootstrap-social">

            <li><a href="https://www.instagram.com/anna_live_gallery/"><i class="icon-instagram2"></i></a></li>
            <li><a href="https://vk.com/once_somebody_somewhere"><img src="{% static 'portfolio/img/vk.png' %}" height="25"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>
  

  <script src="{% static 'portfolio/js/scripts.min.js' %}"></script>
  <script src="{% static 'portfolio/js/main.min.js' %}"></script>
  <script src="{% static 'portfolio/js/custom.js' %}"></script>
  </body>
</html>