{% load static %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">

    <title>Home</title>
    
    <link href="https://fonts.googleapis.com/css?family=Abel" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'portfolio/css/styles-merged.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/style.min.css' %}">
    <link rel="stylesheet" href="{% static 'portfolio/css/custom.css' %}">

    <!--[if lt IE 9]>
      <script src="js/vendor/html5shiv.min.js"></script>
      <script src="js/vendor/respond.min.js"></script>
    <![endif]-->
  </head>
  <body>

  <!-- START: header -->
  
  <div class="probootstrap-loader"></div>

  <header role="banner" class="probootstrap-header">
    <div class="container">
        <a href="{% url 'home' %}" class="probootstrap-logo">Аня Зиманова</a>
        
        <a href="#" class="probootstrap-burger-menu visible-xs" ><i>Menu</i></a>
        <div class="mobile-menu-overlay"></div>

        <nav role="navigation" class="probootstrap-nav hidden-xs">
          <ul class="probootstrap-main-nav">
            <li class="active"><a href="{% url 'home' %}">Home</a></li>
            <li><a href="{% url 'about' %}">About</a></li>
            <li><a href="{% url 'contact' %}">Contact</a></li>
          </ul>
          <div class="extra-text visible-xs"> 
            <a href="#" class="probootstrap-burger-menu"><i>Menu</i></a>

            <h5>Connect</h5>
            <ul class="social-buttons">

              <li><a href="https://vk.com/once_somebody_somewhere"><img src="{% static 'portfolio/img/vk_dark.png' %}" height="31" style="background-color:white"></a></li>
              <li><a href="https://www.instagram.com/anna_live_gallery/"><i class="icon-instagram2"></i></a></li>
            </ul>
          </div>
        </nav>
    </div>
  </header>
  <!-- END: header -->
  
  <div class="probootstrap-section">
    <div class="container text-center">
      <div class="row">
        <div class="col-md-6 col-md-offset-3 mb40">
          <h2>I'm a photographer</h2>
        </div>
      </div>

        <div class="row probootstrap-gutter16">
        <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
            <a href="{% url 'portraits' %}" class="img-bg" style="background-image: url({% static 'portfolio/img/portraits/cover.jpg' %});">
            <div class="probootstrap-photo-details">
              <h2>Portraits</h2>

            </div>
          </a>
        </div>
        <div class="col-md-8 probootstrap-animate" data-animate-effect="fadeIn">
          <a href="{% url 'macro' %}" class="img-bg" style="background-image: url({% static 'portfolio/img/macro/cover.jpg' %});">
            <div class="probootstrap-photo-details">
              <h2>Макро</h2>

            </div>
          </a>
        </div>
      </div>


        <!--
      <div class="row probootstrap-gutter16">
        <div class="col-md-5 probootstrap-animate" data-animate-effect="fadeIn">
          <a href="" class="img-bg" style="background-image: url();">
            <div class="probootstrap-photo-details">
              <h2>Репортаж</h2>

            </div>
          </a>
        </div>
        <div class="col-md-3 probootstrap-animate" data-animate-effect="fadeIn">
          <a href="" class="img-bg" style="background-image: url();">
            <div class="probootstrap-photo-details">
              <h2>Portraits</h2>

            </div>
          </a>
        </div>
        <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
          <a href="" class="img-bg" style="background-image: url();">
            <div class="probootstrap-photo-details">
              <h2>Cities&people</h2>

            </div>
          </a>
        </div>
      </div>
            -->

       <div class="row probootstrap-gutter16">
        <div class="col-md-8 probootstrap-animate" data-animate-effect="fadeIn">
          <a href="{% url 'reportage' %}" class="img-bg" style="background-image: url({% static 'portfolio/img/reportag/cover.jpg' %});">
            <div class="probootstrap-photo-details">
              <h2>Фотосессии</h2>

            </div>
          </a>
        </div>
        <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
          <a href="{% url 'seasons' %}" class="img-bg" style="background-image: url({% static 'portfolio/img/seasons/cover.jpg' %});">
            <div class="probootstrap-photo-details">
              <h2>Seasons</h2>

            </div>
          </a>
        </div>
      </div>


      <div class="row probootstrap-gutter16">
        <div class="col-md-4 probootstrap-animate" data-animate-effect="fadeIn">
            <a href="{% url 'cities_people' %}" class="img-bg" style="background-image: url({% static 'portfolio/img/citiespeople/cover.jpg' %});">
            <div class="probootstrap-photo-details">
              <h2>Cities & people</h2>

            </div>
          </a>
        </div>
        <div class="col-md-8 probootstrap-animate" data-animate-effect="fadeIn">
          <a href="{% url 'nature' %}" class="img-bg" style="background-image: url({% static 'portfolio/img/nature/cover.jpg' %});">
            <div class="probootstrap-photo-details">
              <h2>Nature</h2>

            </div>
          </a>
        </div>
      </div>


    </div>
  </div>

  <footer class="probootstrap-footer" role="contentinfo">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <p class="probootstrap-copyright">Made by <a href="https://gitlab.com/kupreeva">kupreeva</a></p>
          <ul class="probootstrap-social">

            <li><a href="https://www.instagram.com/anna_live_gallery/"><i class="icon-instagram2"></i></a></li>
            <li><a href="https://vk.com/once_somebody_somewhere"><img src="{% static 'portfolio/img/vk.png' %}" height="25"></a></li>
          </ul>
        </div>
      </div>
    </div>
  </footer>

  <div class="gototop js-top">
    <a href="#" class="js-gotop"><i class="icon-chevron-thin-up"></i></a>
  </div>
  

  <script src="{% static 'portfolio/js/scripts.min.js' %}"></script>
  <script src="{% static 'portfolio/js/main.min.js' %}"></script>
  <script src="{% static 'portfolio/js/custom.js' %}"></script>

  </body>
</html>